; Configuration file for use with the Palmer::Regrid constructor
;
; Regrid the CPC "hi-res" 1/6th degree global gridded temperature data to match a 1/8th 
; degree grid covering the CONUS only

[input]

archive=$DATA_IN/cwlinks/temp/GLOBAL/hi_res/y%Y/CPC_GLOBAL_T_V0.x_10min.lnx.%Y%m%d
grib2template=$APP_PATH/lib/grib2/global-6th-degree.template.grb
byteorder=little_endian
missing=-999.0
headers=no_header

[output]

;rpn=9:*:5:/:32:+
